<%layout('layouts/principal')%>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/users.css">

    <div id="navs" class="m-5 text-center"><a href="/products">HOME</a> / <a href="/products/shop">SHOP</a> / <a href="/women/running-shoes">WOMEN~RUNNING SHOES</a> / <a href="/men/running-shoes">MEN~RUNNING SHOES</a> / <a href="/men/everyday-sneakers">MEN~EVERYDAY SNEAKERS</a> / </div>


    <div class="container">
        <%for(let i=0;i<products.length;i++){%>
            <%if( products[i].category==="everyday sneakers"){%>
                <%if(products[i].type==="F"){%>
                    <div class="sections">
                        <div class="images card">
                            <a href="/products/<%=products[i]._id%> "> <img class="card-img-top" src="<%=products[i].image%> " alt=""></a>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <%=products[i].title%>
                            </div>
                            <h4>
                                $
                                <%=products[i].price%>
                            </h4>
                            <p class="card-text">
                                <%=products[i].description%>
                            </p>
                        </div>
                    </div>
                    <%}%>
                        <%}%>
                            <%}%>
    </div>